numpy==1.26.3
pandas
tqdm
requests
st-gsheets-connection
bs4
streamlit_modal
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
pydrive
st-files-connection
gcsfs
streamlit
seleniumbase
webdriver-manager
